    <form action="/add-user" method="post">
        <label for="user-name">{{inputLabel}}</label>
        <input type="text" id="user-name" name="username">
        <button type="submit">{{buttonLabel}}</button>
    </form>
</body>
</html>